body {
    background-color: lightblue;
}

#navBar {
    background-color: lightskyblue;
    color: white;
    border-bottom: 2px solid black;
}

.list {
    width:80%;
    margin:auto;
    background-color: white;
    border-radius:20px;
    border: solid black 2px;
    margin-top: 10px;
}

@media only screen and (min-width: 1640px) {
    .list {
      width:60%;
    }
  }

  @media only screen and (max-width: 500px) {
    .list {
      width:100%;
      border-radius: 0;
    }
  }

.card-img,.card-img-top {
    width:4rem;
    border-radius: 50%;
    display: inline;
    border: 3px solid lightskyblue;
}

.student_name {
    display: inline;
    font-size: 1.3rem;
}

.email {
    display: unset;
}

.card {
    margin:20px;
    width:18rem;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius:50px;
    border: 3px solid lightskyblue;

}

.card:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.paginationContainer {
    padding: 10px;
    background-color: white;
    width: 280px;
    margin: auto;
    margin-top:10px;
    border-radius: 20px;
    border: 2px black solid;
    margin-bottom: 10px;
}

.btn {
    background-color: white;
    color: lightskyblue;
    /* border: 1px solid black; */
    display:inline-block;
    border-radius: 50%;
    
    font-weight: bold;
    margin:3px;
   
}

.btn:hover {
    background-color: lightskyblue;
    color: white; 
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

.active {
    background-color:lightskyblue;
    color: white;
}

#brand {
    font-size: 2rem;
    /* margin-bottom:10px; */
    margin-left:10px;
}

#searchForm {
    /* margin-top:10px; */
    margin-left:10px;
    display: inline-block;
    /* float: right; */
}
